@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    font-family: roboto, sans-serif;
}

#container {
    width: 60%;
    margin: 16px auto;
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

#header-links {
    display: flex;
    gap: 24px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

#section-one {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 80px 0;
    height: 280px;
}

#main-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}


#sign-up {
    width: 130px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
}

#header-img {
    width: 100%;
}

#section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background-color: #F9FAF8;
}

#information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#project-div {
    display: flex;
    padding: 40px 220px;
    gap: 30px;
    text-align: center;
}

.project-img {
    width: 100%;
    border-radius: 8px;
}

#section-three {
    text-align: justify;
    padding: 80px 240px;
    background-color: #E5E7EB;
}

#quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#author {
    margin-top: 10px;
    text-align: right;
    font-size: 28px;
    font-weight: 500;
}

#section-four {
    background-color: #F9FAF8;
    padding: 80px 180px;
}

#action-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 90px;
    border-radius: 8px;
}

#action-right {
    width: 120px;
    height: 34px;
    font-size: 16px;
    font-weight: 800;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: #F9FAF8;
    font-size: 18px;
}